body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: whitesmoke;
}
.main-wrapper {
    max-width: 66.667rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}
.main-header {
    text-align: center;
}
h1 {
    font-weight: bold;
}
h2 {
    font-size: 1.5rem;
}
.list {
    list-style: none;
    padding: 0;
    max-width: 30rem;
    margin: 2rem auto;
}
.list li {
    margin-bottom: 1.5rem;
    padding: 1em;
    background-color: #EFEFEF;
}
.list li img {
    margin: auto;
}
/* Loader */
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,.25);
}

.loader img {
    position: fixed;
    transform: translate(-50%, -50%);
    transform-origin: center;
    top: 50%;
    left: 50%;
}

/* Footer */
footer {
     text-align: center;
}